* {
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-image: url('https://source.unsplash.com/user/erondu');
}

.searchdiv {
  height: 100px;
}

.searchBtn__label {
  cursor: pointer;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
  display: inline-block;
  padding-left: 4%;
  font-weight: 10%;
}

.search__input {
  margin: 20px 0 20px 10px;
  padding: 10px 20px;
  width: 250px;
  background: transparent;
  color: rgba(19, 18, 18, 0.5);
  font-size: 20px;
  /* outline: none; */
  font-weight: bold;
  border: 1px transparent;
  border-bottom: 1px solid white;
  outline: 0;
}
.search__input:hover,
.search__input:focus {
  border-bottom: 2px solid white;
}
.search__button {
  padding: 10px;
  width: 120px;
  margin-left: 10px;
  background-color: rgba(243, 235, 235, 0.5);
  border: transparent;
  border-radius: 10px;
  outline: 0;
}
.search__button:hover {
  background-color: rgb(238, 227, 227);
}

.wrapper__clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
